<h1 class="article__current-title">{{title}}</h1>

<ul class="article__description-list">
  <li class="article__description-item">
    <p class="article__description-text">{{this.text.article-text-one}}</p>
    
  </li>
  <li class="article__description-item">
    <p class="article__description-text">{{this.text.article-text-two}}</p>
  </li>

  <li class="article__description-item">
    <p class="article__description-text">{{this.text.article-text-three}}</p>
  </li>

  <li class="article__description-item">
    <p class="article__description-text">{{this.text.article-text-four}}</p>
  </li>
  
</ul>

<button class="article__back-btn" type="button">back</button>